@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
body{
    scroll-behavior: smooth;
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-family: 'Maven Pro',serif;
    font-size: large;
    margin-left: 18%;
    font-weight: 400;
}
.container{
    height: 520px;
    width: 600px;
    background-color: white;
    position:fixed;
    left: 5%;
    top: 20%;
    background: linear-gradient(
        rgba(255,255,255,0),
        rgba(255,255,255,0.7)
    );
    backdrop-filter: blur(2rem);
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}
.box{
    margin-left: 20%;
    margin-top: 4%;
    height: 8%;
    width: 50%;
    border-color: rgb(132, 124, 243);
}
.bute{
    border-radius: 15px;
    text-align: center;
    width: 100px;
    height: 40px;
    border-color: white;
    box-shadow: 40%;
    padding: 5px 10px 5px 10px;
    font-size: medium;
    font-family: 'Red Rose',serif;
    
}
.bute:hover{
   color: white;
   background: rgb(108, 156, 228);
}
.popup{
    width:300px;
    height: 200px;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
    background: white;
    background: linear-gradient(
        rgba(255, 255, 255, 0.621),
        rgba(255, 255, 255, 0.17)
    );
    backdrop-filter: blur(2rem);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 300px;
    left: 200px; 
    display: none;
    
}
.popup img{
    position: relative;
    left: 280px;
}
.popup p{
    margin-top: 10%;
    font-family: 'Red Rose';
    font-size: large;
    color: green;
}
.ok{
    position:fixed;
    top: 1px;
}
.container1{
    height: 250px;
    width: 350px;
    background:transparent;
    position:fixed;
    left: 40%;
    top: 24%;
    display:none;
}
#ok1{
    position: fixed;
    bottom: 50px;
    left: 900px; 
    display: none;
}
.container2{
    height: 200px;
    width: 350px;
    background:transparent;
    position:fixed;
    left: 40%;
    top: 24%;
    display: none;
}
#ok2{
    position: fixed;
    bottom: 50px;
    left: 900px;
}
.div_f{
    font-family: 'Red Rose',serif;
    font-size: larger;
    font-weight: bold;
    color: rgb(158, 26, 158);
}
.container3{
    height: 200px;
    width: 400px;
    background:transparent;
    position:fixed;
    left: 52%;
    top: 67%;
}